In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Load the Iris data**

In [2]:
import pandas as pd

file_path = "/content/drive/My Drive/Internship/Iris.csv"
df = pd.read_csv(file_path)

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
unique_values = df['Species'].unique()

In [7]:
print(unique_values)

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [8]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [9]:
df.Id.duplicated().sum()

0

## **Split the data into features and target**

In [10]:
features = df.drop("Species", axis=1)
target = df["Species"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

In [13]:
X_train.shape

(120, 5)

In [14]:
X_test.shape

(30, 5)

## **Train the model**

In [15]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

## **Evaluate the model**

In [16]:
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

This code uses the K-Nearest Neighbors (KNN) algorithm from the scikit-learn library to train a model to classify the iris species based on their measurements. The iris data is loaded using the pandas library and split into features (the measurements) and target (the species). The data is then split into a training set and a testing set using the "train_test_split" function from scikit-learn. The KNN model is trained on the training data using the "fit" method, and its performance is evaluated on the testing data by comparing the predicted species with the actual species and computing the accuracy score.